@page "/add-tag"
@using CashTrack.DataModel.Model
@inject NavigationManager Navigation
@inject ITagService TagService

<link href="css/homeStyle.css" rel="stylesheet" />

<h3>Add Tag</h3>

<div class="form-group">
    <label for="tagName">Tag Name:</label>
    <input type="text" id="tagName" class="form-control" @bind="tagName" placeholder="Enter tag name" />
</div>

<button class="btn btn-primary mt-3" @onclick="SubmitTag">Add Tag</button>

@if (successMessage != null)
{
    <div class="alert alert-success mt-3">@successMessage</div>
}
@if (errorMessage != null)
{
    <div class="alert alert-danger mt-3">@errorMessage</div>
}

@code {
    
}
